@model WebEpione.Models.VisitReasonViewModel

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}






<div class="col-xl-9 col-lg-8">

<div class="tabs_styled_2">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book">Your performance</a>
        </li>


    </ul>
    <!--/nav-tabs -->

    <div class="tab-content">

        <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">

            <div class="form-group add_bottom_45">
                <div id="calendar"></div>
                <input type="hidden" id="my_hidden_input">

            </div>


            <!-- /row -->

            <div class="main_title_3">
                <h3> Your visit reasons </h3>
            </div>



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="bg_color_2">
                    <div class="container margin_60_35">
                        <div id="register">
                            <h1>Make a new visit reason </h1>
                            <div class="row justify-content-center">
                                <div class="col-md-5">

                                    <div class="box_form">

                                        @Html.LabelFor(model => model.VRDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.VRDescription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.VRDescription, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group text-center add_top_30">
                                            <input class="btn_1" type="submit" value="Create">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /row -->
                        </div>
                        <!-- /register -->
                    </div>
                </div>
            }


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
    </div>
    
</div>

