@model Domain.Treatment

@{
    ViewBag.Title = "New treatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Patient profile</li>

        </ul>
    </div>
</div>
<!-- /breadcrumb -->
@Html.Action("UserByIdInformations", "Home", new { id = TempData["idPatient"] })


<div class="col-xl-9 col-lg-8">

    <div class="tabs_styled_2">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href=@Url.Action("Index", "Treatment",  new { id = TempData["idPatient"]})>Treatments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href=@Url.Action("Create", "Treatment", new { id = TempData["idPatient"]})><i class="pe-7s-plus"></i> New treatment</a>
            </li>
            
        </ul>
        <!--/nav-tabs -->

        <div class="tab-content">

            <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">
                <p class="lead add_bottom_30">This is all the treatments that this patient is following.</p>

                <div class="main_title_3">
                    <h3>New treatment</h3>
                </div>
                <div class="form-group add_bottom_45">




                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Illness, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Illness, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Illness, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index" , new { id = TempData["idPatient"] })
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>