@model WebEpione.Models.StepViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Patient profile</li>

        </ul>
    </div>
</div>
<!-- /breadcrumb -->
@Html.Action("UserByIdInformations", "Home", new { id = TempData["idPatient"] })




<div class="col-xl-9 col-lg-8">

    <div class="tabs_styled_2">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href=@Url.Action("Details", "Treatment", new { id = TempData["idTreatment"] })>Treatments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href=@Url.Action("Create", "Step",new { id = TempData["idTreatment"] })><i class="pe-7s-plus"></i>New Step</a>
            </li>
           
        </ul>
        <!--/nav-tabs -->

        <div class="tab-content">

            <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">
                <p class="lead add_bottom_30">This is all the treatments that this patient is following.</p>

                <div class="main_title_3">
                    <h3>Create a new step</h3>
                </div>
                <div class="form-group add_bottom_45">


                    <h2>ViewBag.errordelete</h2>
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                       
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.StepId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StepId)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StepSpeciality)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StepSpeciality)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StepDescription)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StepDescription)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StepDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StepDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Validation)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Validation)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NbModifications)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NbModifications)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastModificationBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastModificationBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastModificationDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastModificationDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModificationReason)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModificationReason)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TreatmentIllness)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TreatmentIllness)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Appointment)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Appointment)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                <a href=@Url.Action("Details", "Treatment", new { id = Model.TreatmentId } )>Back to list</a>
                            </div>
                        }
                    </div>
                    </div>
</div>
</div>
</div>
</div>
