@model IEnumerable<WebEpione.Models.PatientViewModel>

@{
    Layout = null;
}

<div class="container margin_60">
    <div class="row">
        <aside class="col-xl-3 col-lg-4" id="sidebar">
            <div class="box_profile">

                <figure>

                    <img src="~/Content/img/avatarblueprofile.png" alt="" class="img-fluid">
                </figure>
                <small>Patient</small>
                @foreach (var item in Model)
                {

                    <h1>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h1>

                    <ul class="statistic">

                        <li>@ViewBag.nbtreat Treatments</li>
                    </ul>
                    <ul class="contacts">
                        <li><h6>Profession</h6>@Html.DisplayFor(modelItem => item.Profession)</li>
                        <li><h6>Civil Status</h6>@Html.DisplayFor(modelItem => item.CivilStatus)</li>
                        <li><h6>City</h6>@Html.DisplayFor(modelItem => item.City)</li>
                        <li><h6>Address</h6>@Html.DisplayFor(modelItem => item.HomeAddress)</li>
                        <li><h6>Phone</h6>+216 @Html.DisplayFor(modelItem => item.PhoneNumber)</li>
                        <li><h6>Allergies</h6>@Html.DisplayFor(modelItem => item.Allergies)</li>
                        <li><h6>Special Requirements</h6>@Html.DisplayFor(modelItem => item.SpecialReq)</li>

                    </ul>
                }
            </div>
        </aside>
        <!-- /asdide -->

